.content {
  background: rgba(255, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 50vh;
  width: 100svw;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 0px;
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.2);
  width: 250px;
  height: auto;
  text-align: left;
}

.card h1 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
  color: #e8e8e8;
}

.card p {
  font-size: 0.8rem;
  font-weight: normal;
  color: #e8e8e8;
}
